@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Patrick+Hand&display=swap");
/* variable fuente */
body {
  margin: 2rem 2rem;
  height: 10rem;
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(#94efff));
  background-image: linear-gradient(to right, white, #94efff);
}

body .header .header__navegacion {
  background-image: url("https://previews.123rf.com/images/rafaart/rafaart1802/rafaart180200361/96670409-perchas-para-la-ropa-en-el-fondo-r%C3%BAstico-concepto-de-moda.jpg");
}

body .header .header__navegacion div div {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 4rem;
  font-weight: bold;
  font-family: "Amatic SC", cursive;
  padding: 2rem;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("https://previews.123rf.com/images/rafaart/rafaart1802/rafaart180200361/96670409-perchas-para-la-ropa-en-el-fondo-r%C3%BAstico-concepto-de-moda.jpg");
  background-position: bottom;
  padding: 2rem 2rem;
  margin: 2rem 2rem;
}

body footer div div ul .redesSociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  font-family: "Amatic SC", cursive;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

body footer div div ul .pieDePagina {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4rem;
  color: black;
  font-family: "Amatic SC", cursive;
}

body footer div div section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding: 2rem 2rem;
}

/* variable fuente */
body .web .web__contenido .web__contenido__carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 3rem;
  background-color: transparent;
}

body .web .web__contenido .web__contenido__texto .web__contenido__texto__box .web__contenido__texto__box__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 7rem;
  font-size: bold;
  color: black;
  font-family: "Amatic SC", cursive;
}

body .web .web__contenido .web__contenido__texto .web__contenido__texto__box .web__contenido__texto__box__parrafo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 4rem;
  font-family: "Amatic SC", cursive;
}

.texto__pie .texto__pie__div .texto__pie__div__section .texto__pie__div__section__h2 p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: end;
  width: 100%;
  font-size: 3rem;
  font-family: "Amatic SC", cursive;
}

/* variable fuente */
.seccion__mujer div .titulo__mujer {
  font-size: 6rem;
  margin: 3rem;
  text-align: center;
  font-family: "Amatic SC", cursive;
}

.seccion__mujer .fondoImagenes {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
      grid-template-areas: "fotoM1 fotoM1 fotoM3 fotoM4" "fotoM5 fotoM6 fotoM6 fotoM4";
  -ms-grid-columns: (fr)[4];
      grid-template-columns: repeat(4, fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.seccion__mujer .remera__mujer {
  margin: 15rem;
  padding: 15rem;
}

div div .tablaTalle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5rem;
  padding: 5rem;
  font-family: "Amatic SC", cursive;
}

div div .tablaTalle .tituloTabla {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  font-family: "Amatic SC", cursive;
}

div div .tablaTalle table tr {
  font-size: 5rem;
  background-image: -webkit-gradient(linear, right top, left top, from(white), to(#94efff));
  background-image: linear-gradient(to left, white, #94efff);
}

/* variable fuente */
.seccionHombre {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.seccionHombre .tituloHombre {
  font-size: 6rem;
  margin: 3rem;
  text-align: center;
  font-family: "Amatic SC", cursive;
}

.seccionHombre .fondoImagenes {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
      grid-template-areas: "fotoH1  fotoH1 fotoH2" "fotoH3  fotoH4 fotoH5";
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.seccionHombre .tablaTalle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5rem;
  font-family: "Amatic SC", cursive;
}

.seccionHombre .tablaTalle .tituloTabla {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  font-family: "Amatic SC", cursive;
}

.seccionHombre .tablaTalle table tr {
  font-size: 5rem;
  background-image: -webkit-gradient(linear, right top, left top, from(white), to(#94efff));
  background-image: linear-gradient(to left, white, #94efff);
}

.fotoH1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: fotoH1;
  -webkit-transition: width 3s;
  transition: width 3s;
  -webkit-transition: height 3s;
  transition: height 3s;
}

.fotoH2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: fotoH2;
  -webkit-transition: width 3s;
  transition: width 3s;
  -webkit-transition: height 3s;
  transition: height 3s;
}

.fotoH3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: fotoH3;
  -webkit-transition: width 3s;
  transition: width 3s;
  -webkit-transition: height 3s;
  transition: height 3s;
}

.fotoH4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: fotoH4;
  -webkit-transition: width 3s;
  transition: width 3s;
  -webkit-transition: height 3s;
  transition: height 3s;
}

.fotoH5 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: fotoH5;
  -webkit-transition: width 3s;
  transition: width 3s;
  -webkit-transition: height 3s;
  transition: height 3s;
}

.fotoH1:hover {
  width: 750px;
  height: 580px;
}

.fotoH2:hover {
  width: 550px;
  height: 650px;
}

.fotoH3:hover {
  width: 550px;
  height: 650px;
}

.fotoH4:hover {
  width: 550px;
  height: 650px;
}

.fotoH5:hover {
  width: 550px;
  height: 650px;
}

/* variable fuente */
.contacto {
  color: black;
  font-weight: bold;
  font-size: 6rem;
  text-align: center;
  font-family: "Amatic SC", cursive;
}

.formulario {
  margin: 15rem;
  background-image: -webkit-gradient(linear, right top, left top, from(white), to(#94efff));
  background-image: linear-gradient(to left, white, #94efff);
  color: black;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Amatic SC", cursive;
}

/* variable fuente */
.nuestrasTiendas {
  margin: 2rem;
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 6rem;
  text-align: center;
  font-family: "Amatic SC", cursive;
}

.tiendas {
  margin: 2rem;
  color: black;
  font-size: 4rem;
  text-align: left;
  line-height: 1;
  word-spacing: 1.2rem;
  font-family: "Amatic SC", cursive;
}

.tiendas .tituloTienda {
  color: black;
  font-size: 5rem;
  line-height: 1;
  text-decoration: underline;
  font-weight: bold;
  font-family: "Amatic SC", cursive;
  list-style: none;
}

.tiendas .tiendaMapa {
  color: red;
  list-style-type: none;
  list-style-position: inside;
  list-style-image: url(../multimedia/map.png);
}

.tiendas .tiendaTelefono {
  color: red;
  list-style-type: none;
  list-style-position: inside;
  list-style-image: url(../multimedia/telefono.png);
}

/* variable fuente */
.error__404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error__404 div div h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Amatic SC", cursive;
  font-size: 7rem;
  font-weight: bold;
}

.error__404 div div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Amatic SC", cursive;
  font-size: 5rem;
  text-align: center;
}

.error__404 div img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  margin: 2rem;
  padding: 2rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
/*# sourceMappingURL=style.css.map */