@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Patrick+Hand&display=swap");
/* variable fuente */
body {
  margin: 2rem 2rem;
  height: 10rem;
  background-image: -webkit-gradient(linear, left top, right top, from(white), to(#94efff));
  background-image: linear-gradient(to right, white, #94efff);
}

body .header .header__navegacion {
  background-image: url("https://previews.123rf.com/images/rafaart/rafaart1802/rafaart180200361/96670409-perchas-para-la-ropa-en-el-fondo-r%C3%BAstico-concepto-de-moda.jpg");
}

body .header .header__navegacion div div {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 4rem;
  font-weight: bold;
  font-family: "Amatic SC", cursive;
  padding: 2rem;
}

body .header .header__navegacion div div .header__barra__navegacion div ul li a {
  color: black;
}

body .header .header__navegacion div div .header__barra__navegacion div ul li :hover {
  color: red;
}

body .btn__whatsapp {
  display: block;
  width: 65px;
  height: 65px;
  color: black;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  z-index: 999;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("https://previews.123rf.com/images/rafaart/rafaart1802/rafaart180200361/96670409-perchas-para-la-ropa-en-el-fondo-r%C3%BAstico-concepto-de-moda.jpg");
  background-position: bottom;
  padding: 2rem 2rem;
  margin: 2rem 2rem;
}

body footer div div ul .redesSociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  font-family: "Amatic SC", cursive;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

body footer div div ul .pieDePagina {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4rem;
  color: black;
  font-family: "Amatic SC", cursive;
}

body footer div div section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding: 2rem 2rem;
}

/* variable fuente */
body .web .web__contenido .web__contenido__carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 3rem;
  background-color: transparent;
}

body .web .web__contenido .web__contenido__texto .web__contenido__texto__box .web__contenido__texto__box__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 7rem;
  font-size: bold;
  color: black;
  font-family: "Amatic SC", cursive;
  text-align: center;
}

body .web .web__contenido .web__contenido__texto .web__contenido__texto__box .web__contenido__texto__box__parrafo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 4rem;
  font-family: "Amatic SC", cursive;
}

.texto__pie .texto__pie__div .texto__pie__div__section .texto__pie__div__section__h2 p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: end;
  width: 100%;
  font-size: 3rem;
  font-family: "Amatic SC", cursive;
}

/* variable fuente */
body .carousel__mujer div .carousel__remeras h2 {
  color: black;
  font-family: "Amatic SC", cursive;
  font-size: 6rem;
  text-align: center;
}

body .carousel__mujer div .carousel__remerones h2 {
  color: black;
  font-family: "Amatic SC", cursive;
  font-size: 6rem;
  text-align: center;
}

body .carousel__jean {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .carousel__jean div .carousel__foto__jean h2 {
  color: black;
  font-family: "Amatic SC", cursive;
  font-size: 6rem;
  text-align: center;
}

body .tabla__talle div .table thead tr th {
  font-size: 5rem;
  font-family: "Amatic SC", cursive;
}

body .tabla__talle div .table tbody tr .talles {
  font-size: 3rem;
  font-family: "Amatic SC", cursive;
}

body .tabla__talle div .table tbody tr td {
  font-size: 3rem;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
}

/* variable fuente */
body .carousel__remeras__hombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .carousel__remeras__hombre div .carousel__foto__remera__hombre h2 {
  color: black;
  font-family: "Amatic SC", cursive;
  font-size: 6rem;
  text-align: center;
}

body .tabla__talle div .table thead tr th {
  font-size: 5rem;
  font-family: "Amatic SC", cursive;
}

body .tabla__talle div .table tbody tr .talles {
  font-size: 3rem;
  font-family: "Amatic SC", cursive;
}

body .tabla__talle div .table tbody tr td {
  font-size: 3rem;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
}

/* variable fuente */
.contacto {
  color: black;
  font-weight: bold;
  font-size: 6rem;
  text-align: center;
  font-family: "Amatic SC", cursive;
}

.formulario {
  margin: 15rem;
  background-image: -webkit-gradient(linear, right top, left top, from(white), to(#94efff));
  background-image: linear-gradient(to left, white, #94efff);
  color: black;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Amatic SC", cursive;
}

/* variable fuente */
.nuestrasTiendas {
  margin: 2rem;
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 6rem;
  text-align: center;
  font-family: "Amatic SC", cursive;
}

.tiendas {
  margin: 2rem;
  color: black;
  font-size: 4rem;
  text-align: left;
  line-height: 1;
  word-spacing: 1.2rem;
  font-family: "Amatic SC", cursive;
}

.tiendas .tituloTienda {
  color: black;
  font-size: 5rem;
  line-height: 1;
  text-decoration: underline;
  font-weight: bold;
  font-family: "Amatic SC", cursive;
  list-style: none;
}

.tiendas .tiendaMapa {
  color: red;
  list-style-type: none;
  list-style-position: inside;
  list-style-image: url(../multimedia/map.png);
}

.tiendas .tiendaTelefono {
  color: red;
  list-style-type: none;
  list-style-position: inside;
  list-style-image: url(../multimedia/telefono.png);
}

/* variable fuente */
.error__404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error__404 div div h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Amatic SC", cursive;
  font-size: 7rem;
  font-weight: bold;
}

.error__404 div div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Amatic SC", cursive;
  font-size: 5rem;
  text-align: center;
}

.error__404 div img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  margin: 2rem;
  padding: 2rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
/*# sourceMappingURL=style.css.map */