$letraweb: 'Amatic SC', cursive;   /* variable fuente */

body {
    .carousel__remeras__hombre {
        display: flex;
        div {
            .carousel__foto__remera__hombre {
                h2 {
                    color: black;
                    font-family: $letraweb;
                    font-size: 6rem;
                    text-align: center;
                }
            }
        }
    }
    .tabla__talle {
        div {
            .table {
                thead {
                    tr {
                        th {
                            font-size: 5rem;
                            font-family: $letraweb;
                        }
                    }
                }
                tbody {
                    tr {
                        .talles {
                            font-size: 3rem;
                            font-family: $letraweb;
                        }
                        td {
                            font-size: 3rem;
                            font-family: $letraweb;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}