$letraweb: 'Amatic SC', cursive;   /* variable fuente */

.seccionHombre {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .tituloHombre {
        font-size: 6rem;
        margin: 3rem;
        text-align: center;
        font-family: $letraweb;
    }
    .fondoImagenes {
        display: grid;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        grid-template-areas:"fotoH1  fotoH1 fotoH2"
                            "fotoH3  fotoH4 fotoH5";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .tablaTalle {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 5rem;
        font-family: $letraweb;
        .tituloTabla {
            font-size: 5rem;
            font-weight: bold;
            text-align: center;
            font-family: $letraweb;
        }
        table {
            tr {
                font-size: 5rem;
                background-image: linear-gradient(to left, white, rgb(148, 239, 255));
            }
        }
    }
}


.fotoH1 {
    grid-area: fotoH1;
    transition: width 3s;
    transition: height 3s;
}

.fotoH2 {
    grid-area: fotoH2;
    transition: width 3s;
    transition: height 3s;
}

.fotoH3 {
    grid-area: fotoH3;
    transition: width 3s;
    transition: height 3s;
}

.fotoH4 {
    grid-area: fotoH4;
    transition: width 3s;
    transition: height 3s;
}

.fotoH5 {
    grid-area: fotoH5;
    transition: width 3s;
    transition: height 3s;
}

.fotoH1:hover {
    width: 750px;
    height: 580px;
}

.fotoH2:hover {
    width: 550px;
    height: 650px;
}

.fotoH3:hover {
    width: 550px;
    height: 650px;
}

.fotoH4:hover {
    width: 550px;
    height: 650px;
}

.fotoH5:hover {
    width: 550px;
    height: 650px;
}

