$letraweb: 'Amatic SC', cursive;   /* variable fuente */

body {
    .carousel__mujer {
        div {
            .carousel__remeras {
                h2 {
                    color: black;
                    font-family: $letraweb;
                    font-size: 6rem;
                    text-align: center;
                }
            }
            .carousel__remerones {
                h2 {
                    color: black;
                    font-family: $letraweb;
                    font-size: 6rem;
                    text-align: center;
                }
            }
        }
    }
    .carousel__jean {
        div {
            .carousel__foto__jean {
                h2 {
                    color: black;
                    font-family: $letraweb;
                    font-size: 6rem;
                    text-align: center;
                }
            }
        }
    }
}

div{
    div{
        .tablaTalle {
            justify-content: center;
            flex-direction: column;
            margin: 5rem;
            padding: 5rem;
            font-family: $letraweb;
            
            .tituloTabla {
                font-size: 5rem;
                font-weight: bold;
                text-align: center;
                font-family: $letraweb;
            }
            table {
                tr {
                    font-size: 5rem;
                    background-image: linear-gradient(to left, white, rgb(148, 239, 255));
                }
            }
        }
    }
}