$letraweb: 'Amatic SC', cursive;   /* variable fuente */

.nuestrasTiendas {
    margin: 2rem;
    color: black;
    font-style: italic;
    font-weight: bold;
    font-size: 6rem;
    text-align: center;
    font-family: $letraweb;
}

.tiendas {
    margin: 2rem;
    color: black;
    font-size: 4rem;
    text-align: left;
    line-height: 1;
    word-spacing: 1.2rem;
    font-family: $letraweb;
    .tituloTienda {
        color: black;
        font-size: 5rem;
        line-height: 1;
        text-decoration: underline;
        font-weight: bold;
        font-family: $letraweb;
        list-style: none;
    }
    .tiendaMapa {
        color: red;
        list-style-type: none;
        list-style-position: inside;
        list-style-image: url(../multimedia/map.png);
    }
    .tiendaTelefono {
        color: red;
        list-style-type: none;
        list-style-position: inside;
        list-style-image: url(../multimedia/telefono.png);
    }
}


