@import "fuentes";
@import "navfoter";
@import  "index";
@import "mujer";
@import "hombre";
@import "contacto";
@import "tiendas";
@import "404";

*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}


